<%= render "layouts/errors", :target => @user %>

<fieldset>
  <legend><%= t('etabliocms_core_user.admin_legend') %></legend>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'text-field' %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'text-field' %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'text-field' %>
  </p>

  <p class="submit-box">
    <%= submit_tag t('admin.save'), :class => 'submit' %>
  </p>

</fieldset>
