<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title><%= @title %></title>
  <!--general stylesheet-->
  <style type="text/css">
      p {
          padding: 0;
          margin: 0;
      }

      h2, h3, p, li {
          font-family: Georgia, Serif;
      }

      td {
          vertical-align: top;
      }

      ul, ol {
          margin: 0;
          padding: 0;
      }

    h3 a {color: #535353;}
  </style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" background=""
      style="margin: 0px; background-color: #ffffff;" bgcolor="#ffffff">
<table cellspacing="0" border="0" cellpadding="0" width="100%">
  <tbody>
  <tr valign="top">
    <td><!--container-->
      <table cellspacing="0" cellpadding="0" border="0" align="center" width="750" bgcolor="#ffffff">
        <tbody>
        <tr>
          <td valign="top" bgcolor="#ffffff" align="center">
            <table cellspacing="0" border="0" cellpadding="0" width="700">
              <tbody>
              <tr>
                <td valign="top" height="37" style="height: 37px;">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top" colspan="2" style="text-align: left;">
                  <h1 style="margin: 0; padding: 0; font-size: 36px; color: #e6601a; font-weight: bold;font-family: 'Arial Black', Gadget, sans-serif;">
                    <a href="http://<%= configatron.host %>" style="color: #e6601a;text-decoration:none;font-family: 'Arial Black', Gadget, sans-serif;" title="<%= configatron.description %>">
                      <%= configatron.name %></a>
                  </h1>
                </td>
              </tr>
              <tr>
                <td valign="top" height="27" style="height: 15px;">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top" width="100%">
                  <table cellspacing="0" border="0" cellpadding="0" width="100%">
                    <tr>
                      <td valign="top">
                        <%= yield %>
                      </td>
                    </tr>
                  </table>


                </td>
              </tr>
              <tr>
                <td valign="top" height="40" bgcolor="#ffffff" style="height: 40px;">&nbsp;</td>
              </tr>
              <tr>
                <td valign="middle" height="38"
                    style="height: 38px; vertical-align: middle; border-top-color: #d6d6d6; border-top-width: 1px; border-top-style: solid;">
                  <p style="font-size: 11px; font-weight: bold; color: #8a8a8a; text-align: center;">
                    Tým <strong><a href="http://<%= configatron.host %>" style="color:#e6601a;text-decoration:none"><%= configatron.name %></a></strong>
                    <a href="mailto:<%= configatron.email %>" style="color:#e6601a;text-decoration:none"><%= configatron.email %></a>
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <!--/content-->
        </tr>
        </tbody>
      </table>
      <!--/container-->
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>