<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="cs"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="cs"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="cs"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="cs"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="cs"/>
  <meta name="description" content="<%= yield :title %> – Administrace"/>
  <title><%= yield :title %> | <%= t('admin.admin') %> </title>
  <%= stylesheet_link_tag "admin-core" %>
  <%= javascript_include_tag "admin-core" %>

  <% if defined? EtabliocmsPages %>
      <%= stylesheet_link_tag "admin-pages" %>
      <%= javascript_include_tag "admin-pages" %>
  <% end %>

  <% EtabliocmsCore.stylesheets.each do |stylesheet| %>
      <%= stylesheet_link_tag stylesheet %>
  <% end %>

  <% EtabliocmsCore.javascripts.each do |javascript| %>
      <%= javascript_include_tag javascript %>
  <% end %>

  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %>">
<header id="topbar">
  <div class="container">
    <nav id="user-information">

      <% if etabliocms_core_user_signed_in? -%>
          <strong><%= t('common.logged') %>: <%= link_to current_etabliocms_core_user.email, admin_path %></strong>
          <ul>
            <li><%= link_to I18n.t('admin.show_public', :domain => request.host), "/", :'data-popup' => true %></li>
            <li><%= link_to I18n.t('common.logout'), destroy_etabliocms_core_user_session_path, {:title => t('common.logout'), :method => :delete} %></li>
          </ul>
      <% end -%>

    </nav>
  </div>
</header>

<div class="container">
  <div id="main">
    <div id="content">

      <%= render "layouts/flashes" %>

      <%= yield %>

    </div>

    <nav id="sidebar">
      <div id="sidebar-inner">
        <div id="sidebar-inner-inner">

          <% EtabliocmsCore.modules.each do |m| %>
              <%= render :partial => "layouts/sidebar_#{m}" %>
          <% end %>

          <h3><%= image_tag asset_path("admin/sidebar-help.png"), :alt => t('help.help') %><%= t('help.help') %></h3>
          <ul>
            <li><%= link_to_unless_current I18n.t('help.textile'), admin_textile_help_path %></li>
          </ul>

        </div>
      </div>
    </nav>

  </div>
</div>


<script>
    $(function() {
        Shared.initFlashClose();
        Admin.initPopUp();
    })
</script>

<%= yield :javascript %>

</body>
</html>
