<!doctype html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="cs"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="cs"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="cs"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="cs"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta name="description" content="<%= yield :description %>">
  <meta name="author" content="">

  <title><%= yield :title %> | <%= configatron.title_suffix %></title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= configatron.google_maps_api_key %>" type="text/javascript"></script>
  <%= stylesheet_link_tag "public-all" %>
  <!--[if (gte IE 9)|!(IE)]><!-->
  <%= stylesheet_link_tag "print", :media => "print" %>
  <!--<![endif]-->
  <%= javascript_include_tag "public-all" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body class="<%= body_class %>">

<div id="all">
  <div id="all-inner">

    <div id="main-container">
      <div id="main-container-inner">
        <div id="main-container-inner-inner" class="container">

          <header>
            <h1 id="logo">
              <a href="/<%= I18n.locale %>"><%= image_tag asset_path("public/logo.png"), :alt => configatron.title %></a>
            </h1>

            <nav>

              <ul>
                <% Page.for_locale(I18n.locale).visible.roots.each do |page| %>
                    <li><%= link_to(page.title, page_path(page, :locale => page.locale), :class => (@page && @page == page) ? "active" : "inactive") %></li>
                <% end %>
                <li><%= link_to t('contact.contact'), "#", :id => "contact-link" %></li>
              </ul>

          <span id="language">
            <%= link_to image_tag("public/#{other_locale}.png"), "/#{other_locale}", :id => 'flag' %>
          </span>

            </nav>


          </header>

          <%= render "layouts/flashes" %>

          <div id="carousel">
            <div id="carousel-inner">
              <div id="carousel-inner-inner">

                <%= yield %>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <% if content_for? :other %>
        <div id="other-container">
          <div id="other-container-inner">
            <div id="other-container-inner-inner">
              <div id="other-container-inner-inner-inner" class="container">

                <%= yield :other %>

              </div>
            </div>
          </div>
        </div>
    <% end %>

    <%= render "layouts/footer" %>

    <script>
        $(function() {
            Shared.initFlashClose();
            Public.initContactLink();
            $("#map-inner").gMap({ markers: [
                { address: "<%= configatron.address %>", html: "<%= configatron.html_address.html_safe %>", popup : true }
            ],
                address: "<%= configatron.address %>",
                zoom: 15 });
        })
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26810345-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

  </div>
</div>
</body>
</html>

